{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1 class="pl-1">
        <i class="fab fa-cloudsmith"></i>
        Campagnes
    </h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}